{% extends 'base.html.twig' %}

{% block title %}Admin categories{% endblock %}

{% block body %}

    {% if categories == null %}
        <div class="text-xl text-center my-4 font-bold">Nothing to show here</div>
    {% endif %}

    {% for category in categories %}

        <div class="mb-4">
            Category: {{ category.category }} <br>
            Created by: {{ category.addedBy.username }} <br>
        </div>

    {% endfor %}

{% endblock %}
